*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(school_new.png); /*картинку можно и не шакал найти*/
    background-position: center;
    background-size: cover;
    height: 100vh;
}
ul {
    display: flex;
    position: absolute;         
    list-style-type: none; 
    text-decoration: none;
    font-size: 14px;   
    text-align: center;        
}

li {
    margin-right: 40px;    
}

.school a{
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    font-family: Tahoma;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.menu{
    position: relative;
    width: 400px;
    float: left;
    height: 70px;
    text-decoration: none;
    font-family: Tahoma;
    margin-left: 150px;
    margin-top: 19px;
    font-size: 25px;
}
.mainPage{
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

.contactUs{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.teachers{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.schedule{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.DOTWTable {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    width: 200px;
    position: absolute;
    top: 90px;
}
.dayTable {
    border-collapse: collapse;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
th, td {
    border: 1px solid #ccc;
    height: 25px;
    text-align: center;
    padding: 5px;
}
th {
    background-color: #4CAF50;
    color: white;
}
.emptyLine {
    background-color: #f9f9f9;
}