*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(school_new.png); /*картинку можно и не шакал найти*/
    background-position: center;
    background-size: cover;
    height: 100vh;
}
ul {
    display: flex;
    position: absolute;         
    list-style-type: none; 
    text-decoration: none;
    font-size: 14px;   
    text-align: center;        
}

li {
    margin-right: 40px;    
}

.school a{
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    font-family: Tahoma;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
}

.menu{
    position: relative;
    width: 400px;
    float: left;
    height: 70px;
    text-decoration: none;
    font-family: Tahoma;
    margin-left: 150px;
    margin-top: 19px;
    font-size: 25px;
}
.mainPage{
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

.contactUs{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.teachers{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.schedule{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}
.info-block {
    position: relative;
    top: 90px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 300px;
    background-color: #f9f9f9;
}

.info-block img {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}
